/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
table {
  margin-top: 5px;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid;
}

td {
  padding: 5px;
}
